<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006471004243-4l518m7vaecf4afmaobk9fmejhtn1dub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006471004243-4l518m7vaecf4afmaobk9fmejhtn1dub</string>
	<key>API_KEY</key>
	<string>AIzaSyC6oEoehJ54mcG4lAAfj9z_mlH2FlzOyHc</string>
	<key>GCM_SENDER_ID</key>
	<string>1006471004243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nkhorbaladze.Cypher</string>
	<key>PROJECT_ID</key>
	<string>cypher-530df</string>
	<key>STORAGE_BUCKET</key>
	<string>cypher-530df.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006471004243:ios:6120aacc3ae1f7ea49c6a6</string>
</dict>
</plist>