<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1006471004243-4l518m7vaecf4afmaobk9fmejhtn1dub</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1006471004243-4l518m7vaecf4afmaobk9fmejhtn1dub.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter_18pt-Medium.ttf</string>
		<string>Inter_18pt-Regular.ttf</string>
		<string>Inter_18pt-SemiBold.ttf</string>
		<string>Inter_18pt-Bold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
